.tableSection {
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tableSection h2 {
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
}

.tableSection h2 span {
  color: #6673ee;
}

.tableSection .tableBlock {
  display: flex;
}

th,
td {
  padding: 15px;
}

.tableBlock thead {
  background-color: #c1fee9;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: aliceblue;
}
